[submodule "backend"]
	path = backend
	url = https://github.com/VipPro67/novel-vip-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/VipPro67/novel-vip-frontend.git
	branch = main
